/*переменние основніх цветов*/
:root {
    --blue-color:#2196F3;
    --white-color:#FFFFFF;
    --grey-color:#757575;
    --black-color:#212121;
}
/* header */
/*logo стиль*/
.logo{font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);}
.logo-element{color:var(--black-color)}
/* logo end */
header{background-color: var(--white-color);}
.nav-word{font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc (16 / 14);
letter-spacing: 0.02em;
color: var(--black-color);}
.nav-word:hover , .nav-word:focus {
    color: var(--blue-color); }
.link-style{ font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc (16 / 14);
letter-spacing: 0.02em;
color: var(--grey-color);}
.link-style:hover, .link-style:focus{
    color: var(--blue-color);}
a{text-decoration: none;}
ul{list-style: none;}
h1{font-family: inherit;
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);}
.section-head{background-color: #2F303A;}
/* header end */
/* Body_____________________________________________________________________________Body */
/* кнопки */
.press-it{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center; 
letter-spacing: 0.03em;}

.press-it:hover , .press-it:focus {
    color: var(--white-color);
    background-color: var(--blue-color);}
 /* кнопки */   
body {background-color:#E5E5E5;
    font-family: roboto; sans-serif
     font-weight: 700;
    color:var(--black-color);}
    .nav-word{font-family: inherit;
      font-style: inherit;
       font-weight: 500;
       font-size: 16px;
       line-height: calc (30 / 16);
       letter-spacing: 0.03em;
       color: var(--black-color);}
    .description{font-family: inherit;
      font-style: inherit;
       font-weight: 500;
       font-size: 16px;
       line-height: calc (30 / 16);
       letter-spacing: 0.03em;
       color: var(--grey-color);}
       p{font-family: inherit;
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         line-height: calc(24 / 14);
         letter-spacing: 0.03em;
         color: var(--grey-color);}
    h2{font-size: 36px;
     line-height: calc (42 /36);
     text-align: center;
    letter-spacing: 0.03em;}    
    h3{font-family: inherit;   
       font-size: 18px;
       line-height: calc (36 / 18);
       letter-spacing: 0.06em;}
       

/* body end ____________________________________________________________________body-end */
/*Footer */
 footer{background: #2F303A;}
 .foot-color{color: var(--grey-color);}
 .foot-color:hover , .foot-color:focus {
     color:var(--white-color); }
 .logo-foot-element{color: var(--white-color);}



